<h1>Miembros de Mi Familia</h1>
<a href="{% url 'agregar' %}">Agregar</a>
<br>
<br>
{% if messages %}
<div class="messages">
{% for message in messages %}
<div {% if message.tags %} class="{{ message.tags }}"{% endif %} style="background-color:bisque; font-size:20px;">{{ message }}</div>
{% endfor %}
</div>
{% endif %}

{% if personas %}
   {% for p in personas %}
        <br>
        <li> <label style="font-weight: bold">Identificador: </label>{{p.id}} </li>
        <li> <label style="font-weight: bold">Nombre: </label>{{p.firstname }} </li>
        <li> <label style="font-weight: bold">Apellido: </label>{{p.lastname}} </li>
        <li> <label style="font-weight: bold">Genero: </label>{{p.gender}} </li>
        <li> <label style="font-weight: bold">Fecha Nacimiento: </label> {{p.birthdate|date:"d-m-Y"}} </li>
        <li> <label style="font-weight: bold">Edad: </label>{{p.age}} </li>
        <li> <label style="font-weight: bold">Parentesco: </label>{{p.relation}} </li>
        <li> <label style="font-weight: bold">Email: </label>{{p.email}} </li>
        <br>
        <button onclick="location.href = '/familia/borrar/{{p.id}}'">Borrar</button>
        <button onclick="location.href = '/familia/actualizar/{{p.id}}'">Actualizar</button>
        <br>
    {% endfor %}
{% else %}
    <p>No tienes familiares cargados</p>
{% endif %}